@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ptsans-400.woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: url(/fonts/ptsans-700.woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



.header {
    display: flex;

}

/*Навигация*/
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-list {
    list-style-type: none;
}

.navigation-item {
    margin-right: 34px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button-brown {
    color: #FFFFFF;
    background-color: #756157;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;

}

.navigation-list {
    display: flex;
    flex-direction: row;

}

/*-------------------------------------*/
.welcome {
    background: url(/img/index-background.jpg) center no-repeat;
    text-align: center;
    background-size: 100% 100%;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    max-width: 620px;
    max-height: 72px;
    margin: 0 auto;
    color: #000000;
}

.subtitle {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.center-text {
    text-align: center;
}

.subscription-background {
    color: #FFFFFF;
    width: 100%;
    height: 411px;
    background-image: url(/img/subscription-background.jpg);
}

.homepage-link {
    margin-left: 70px;
}

.main-container {
    flex-grow: 1;
}

.footer-socials-list {
    width: 142px;
    height: 40px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-socials-list li {
    flex-grow: 1;
}

.footer-list {
    padding: 40px 70px 30px 70px;
    height: 120px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    line-height: 40px;
}

.block__blue {
    background-color: #82B3D3;
    display: flex;

}

.block__blue-item {
    background-color: #82B3D3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;


}

.block__blue-content {
    max-width: 230px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.reasons-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.reasons-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.reasons__aside-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.reasons__aside-subtitle {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.reasons-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.block__blue {
    display: flex;
}

.reasons__aside-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.reasons__main-block {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.search-subtitle {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
}

.search-button {
    color: #FFFFFF;
    background: #756157;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscription-subtitle {
    font-size: 22px;
    line-height: 26px;
}

.button-blue {
    color: #FFFFFF;
    background: #82B3D3;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

/*---------------------------------------КАТАЛОГ-------------------------------------------------------*/
.filter {
    background-color: #756157;
}

.page-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs {
    list-style-type: none;
}

.breadcrumbs-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.catalog-filter-list {
    list-style-type: none;
}

.filter-item__text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.button-filter-reset {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.search__results-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

}

.select-control {
    font-size: 18px;
    line-height: 21px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.card__category {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.card__price {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.card__button-brown {
    background: #756157;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.card__button-blue {
    background: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.card__rating-value {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
    border-radius: 4px;
}

.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.pagination-link {
    border: 1px solid #82B3D3;
    border-radius: 4px;
    background: #82B3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.amount-card__text {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.amount-card__value {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.subscription-nobackground {
    color: #000000;
}
